[*.cs]

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none

# SA1200: Using directives should be placed correctly
dotnet_diagnostic.SA1200.severity = none

# SA1309: Field names should not begin with underscore
dotnet_diagnostic.SA1309.severity = none

# SA1413: Use trailing comma in multi-line initializers
dotnet_diagnostic.SA1413.severity = none

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none

# SA1602: Enumeration items should be documented
dotnet_diagnostic.SA1602.severity = none

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = none

dotnet_sort_system_directives_first = true

dotnet_separate_import_directive_groups = true

indent_size = 4

[{*.csproj,*.json,*.yml}]

indent_size = 2

[*]

# SA0001: XML comment analysis is disabled due to project configuration
dotnet_diagnostic.SA0001.severity = none

charset = utf-8

indent_style = space

insert_final_newline = true

trim_trailing_whitespace = true

