version: 1.0.{build}
image: Visual Studio 2022
install:
  - dotnet tool install -g Cake.Tool --version 0.36.0
  - SET JAVA_HOME=C:\Program Files\Java\jdk11
  - SET PATH=%JAVA_HOME%\bin;%PATH%
build_script:
- cmd: dotnet cake -Target=CI
test: off
cache:
  - tools
  - '%USERPROFILE%\.sonar\cache'
